.news {
  margin-bottom: 60px;
}

.news__title {
  @include font(22px, 140%, bold);
  text-transform: uppercase;
}

.news__navigation {
  display: flex;
  justify-content: space-between;
}

.news__item {
  & a {
    &::after {
      content: "";
      display: inline-block;
      width: 15px;
      height: 8px;

      margin-left: 5px;

      mask-image: url("~assets/images/arrow.svg");
      background-color: currentColor;
    }
  }
}
