.discounts-special__swiper {
  max-width: 290px;
}

.discounts-special__item {
  width: 290px;
}

.discounts-special__max-discount {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: -8.5px;

  & img {
    z-index: 1;
  }

  & span {
    padding: 11px 16px 10px 15px;

    @include font(14px, 140%, bold);
    text-transform: uppercase;
    white-space: nowrap;
    color: $color-white;

    background-image: url("~assets/images/subtract.svg");
    background-repeat: no-repeat;
  }
}

.discounts-special__image {
  margin-bottom: 10px;
}

.discounts-special__star {
  fill: $color-white;

  &--fill {
    fill: #FFC107;
  }
}

.discounts-special__availability {
  position: relative;

  @include font(13px, 140%);
  color: $color-green;

  border-bottom: 1px solid $color-green;

  &::before {
    content: "";
    position: absolute;
    left: -10%;
    top: 40%;

    width: 5px;
    height: 5px;

    background-color: $color-green;
    border-radius: 50%;
  }
}

.discounts-special__title {
  padding-top: 20px;
  margin-bottom: 30px;

  @include font(15px, 140%, bold);
}

.discounts-special__price {
  margin-bottom: 9px;

  @include font(18px, 140%, bold);
  color: $color-black--lighter;

  & s {
    padding-left: 10px;

    @include font(14px, 140%);
    color: #5C5C5C;
  }
}

.discounts-special__economy {
  display: inline-flex;
  align-items: center;

  @include font(14px, 140%);
  color: $color-black--lighter;
  border: 1px solid $color-yellow;

  & b {
    padding: 5px 10px;

    background-color: $color-yellow;
  }

  & span {
    padding: 5px 10px;

    background-color: $color-yellow--light;
  }
}

.discounts-special__shopping-cart {
  padding: 10px;
  margin-top: -15px;
  background-color: $color-pink;
  border-radius: 50%;
}

.discounts-special__pagination {
  padding-top: 15px;
  position: static;
}
