// Colors 
$color-black--light:  #222222;
$color-black--lighter:#333333;
$color-gray:          #777777;
$color-gray--light:   #A9B2BC;
$color-gray--lighter: #E5E5E5;
$color-white:         #ffffff;
$color-pink:          #D2334D;
$color-bullet:        #D0334D;
$color-ruby:          #960C22;
$color-green:         #5FA800;
$color-yellow:        #FFD83A;
$color-yellow--light: #FFF8DB;

// Font-family
$font-family--montserrat: "Montserrat", sans-serif;

// Variables
$min-width:         320px;
$max-width:         1920px;

// Viewports
$mobile-width:      320px;
$mobile-max-width:  767px;
$tablet-width:      768px;
$tablet-max-width:  1919px;
$desktop-width:     1920px;
