.general {
  max-width: 320px;
  margin-bottom: 30px;
}

.general__item {
  position: relative;
  overflow: hidden;

  padding-top: 85px;
  padding-left: 15px;
  padding-bottom: 50px;

  background: rgb(255 246 229);
  background: linear-gradient(0deg, rgb(235 227 210) 0%, rgb(245 241 232) 60%);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -10%;
    z-index: -1;
  }

  &::before {
    left: -17%;

    width: 121px;
    height: 119px;

    background-image: url("~assets/images/discounts/percent-1.png");

    transform: rotate(25deg);
    filter: blur(2px);
  }

  &::after {
    left: 35%;

    width: 107px;
    height: 94px;

    background-image: url("~assets/images/discounts/percent-2.png");

    transform: rotate(-30deg);
  }
}

.general__content {
  z-index: 1;
  width: 55%;

  text-align: left;

  & h2 {
    margin: 0;

    @include font(22px, 30.8px, bold);
    text-transform: uppercase;
    color: $color-ruby;
  }

  & p {
    margin-bottom: 10px;

    @include font(18px, 25.2px, bold);
    text-transform: uppercase;  
  }

  & span {
    display: block;
    margin-bottom: 30px;

    @include font(14px, 19.6px);
  }

  & a {
    display: inline-block;
    text-decoration: none;
  }
}

.general__image {
  position: absolute;
  top: 0%;
  right: -15%;
  z-index: -1;
}
