.sport-goods__swiper {
  width: 100%;
  margin-bottom: 15px;
}

.sport-goods__title {
  margin-bottom: 10px;

  @include font(22px, 140%, bold);
  text-transform: uppercase;
}

.sport-goods__navigation {
  display: flex;
  justify-content: space-between;
}

.sport-goods__item {
  width: 220px;
  text-align: center;
  overflow: hidden;

  & img {
    transition: filter 1s ease-out;
  }

  & h3 {
    display: none;

    @include font(18px, 140%, bold);
    text-transform: uppercase;
    color: $color-black--light;
  }

  &.swiper-slide,
  &.swiper-slide-prev,
  &.swiper-slide-next {
    align-self: center;

    & img {
      filter: blur(2px);
      height: 200px;
    }
  }

  &.swiper-slide-active {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      filter: blur(0);
      height: auto;
    }

    & h3 {
      position: absolute;
      bottom: 5%;

      display: block;
    }
  }
}

.sport-goods__pagination {
  position: static;
}
