.delivery {
  text-align: center;
  background: linear-gradient(40deg, rgb(255, 255, 255) 0%, rgb(255, 199, 199) 60%);

  & .container {
    padding-top: 40px;
  }
}

.delivery__title {
  margin-bottom: 10px;

  @include font(20px, 140%);
  text-transform: uppercase;
}

.delivery__link {
  display: inline-block;
  margin-bottom: 30px;

  @include font(16px, 20px);
  text-decoration: none;
  color: $color-pink;
}
