.page-footer {
  background-color: $color-black--lighter;

  &.container {
    padding: 0;
  }
}

.page-footer__list {
  margin-bottom: 40px;
}

.page-footer__item {
  border-bottom: 1px solid rgba($color-white, 0.3);
}

.page-footer__link,
.submenu__heading,
.submenu__link {
  display: block;
  padding: 15px;

  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
}

.page-footer__link,
.submenu__heading {
  @include font(14px, 140%, bold);
}

.submenu {
  position: relative;

  &--active {

    & .submenu__heading span {
      transform: rotate(180deg);
    }

    & .submenu__list {
      position: static;

      opacity: 1;
      transform: rotateX(0) translateZ(0);
    }
  }
}

.submenu__heading {
  display: flex;
  justify-content: space-between;

  cursor: pointer;

  & span {
    position: relative;

    width: 15px;

    transition: transform .4s ease-out;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      top: 0;
      margin: auto;

      width: 60%;
      height: 2px;

      background-color: $color-white;
      border-radius: 4px;
    }

    &::before {
      left: 0;
      transform: rotate(45deg);
    }

    &::after {
      right: 0;
      transform: rotate(-45deg);
    }
  }
}

.submenu__list {
  position: absolute;
  top: 0;
  left: 0;

  padding: 10px 20px;

  opacity: 0;
  backface-visibility: hidden;

  transform: rotateX(-90deg);
  transform-style: preserve-3d;
  transform-origin: top center;
  transition: transform .4s ease-out, opacity 0s;
}

.submenu__item {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;

  &:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.submenu__link {
  @include font(12px, 140%);
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 40px;
}

.contacts__button {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  text-align: left;

  column-gap: 80px;

  padding: 15px;
  margin-bottom: 40px;

  @include font(13px, 120%);
  text-transform: uppercase;
  white-space: wrap;
  color: $color-white;

  background-color: #4b4b4b;
  border-radius: 25px;

  & svg {
    fill: currentColor;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  @include font(16px, 140%, bold);
  text-decoration: none;
  color: $color-white;
}

.contacts__icon {
  margin-right: 20px;

  fill: currentColor;
}
